py-probduration @ git+https://project_1143_bot:glpat-QdQC3BdsxSKr7zZnQ2vt@code.it4i.cz/everest/py-probduration.git
osmnx==1.9.1
lazy-object-proxy==1.10.0
click==8.0.1
tqdm==4.66.2
bokeh==3.3.4
scikit-learn==1.4.1.post1
pyarrow==15.0.0
fastparquet==2024.2.0
shapely==2.0.3
numpy==1.25.2
pandas==2.2.1
matplotlib==3.8.3
networkx==3.2.1
pylru==1.2.1
geopandas==0.14.3
setuptools==68.2.0
pyzmq==25.0.1
cluster @ git+https://code.it4i.cz/def/cluster.git#e47b756e1bcb91c0244e1cede58c868d4ade8e6f
h5py==3.10.0
pyserde==0.12.2
msgpack==1.0.7
flowmap @ git+https://code.it4i.cz/mic0427/traffic-flow-map.git#cff9ad05f833e7d314e333e49c50960f3b4cca12